.vehicle {
  border: 1px dashed #ccc;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.small {
    width: 80px;
    min-height: 80px;
    background: lightgreen;
  }
  &.large {
    width: 110px;
    min-height: 80px;
    background: lightblue;
  }
  &.empty {
    background: transparent;
  }
}
